:root {
    --main-color: #0f102a;
    --second-color: #b0b7db;
    --text-color: #fff;
    --header-bg-color: #111827;
}

html {
    background-color: var(--main-color) !important;
}

#button-container {
    margin: 3vh 0;
    margin-left: 1vw;
}

header button a {
    color: var(--text-color);
}

#header-bg {
    background-color: var(--header-bg-color) !important;
}