:root {
    --main-color: #0f102a;
    --second-color: #b0b7db;
    --text-color: #fff;
    --header-bg-color: #111827;
}

html {
    background-color: var(--main-color) !important;
}

#button-container {
    width: 39vw;
    margin-top: 3vh;
    margin-left: 2vw;
}

header button a {
    color: var(--text-color);
}

#header-bg {
    background-color: var(--header-bg-color) !important;
}

h1 {
    color: var(--text-color) !important;
    text-align: center !important;
    /* Center the text */
    border-bottom: 5px solid white !important;
    /* Add a 1px solid black underline */
    line-height: 0 !important;
    /* Collapse any extra space above the text */
    padding: 25px 0 !important;
    /* Adjust the padding to control the underline's extension */
    margin: 0 35vw !important;

}

.container {
    margin-left: 17vw !important;
}

.date {
    border: 1px solid grey;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}