* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 2rem; /* Adjust the size as needed */
}

h2 {
  font-size: 1.5rem; /* Adjust the size as needed */
}

h4 {
  font-size: 1rem; /* Adjust the size as needed */
}
#background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}
.logo {
  text-align: center;
  padding: 20px;
  color: #fff;
  border: 1px solid;
}
.logoSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding-left: 5%;
  font-size: 170%;
}
/* main {
  display: none;
} */
.artistBio {
  display: flex;
  flex-wrap: wrap;
  /* visibility: visible; */
}
.artistStats {
  flex: 3;
}
.aboutTheArtist {
  flex: 6;
}