:root {
  --main-color: #0f102a; 
  --second-color: #b0b7db;
  --text-color:#fff;
}
* {
  margin: 0;
  padding: 0;
  z-index: 1;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background-color: var(--main-color);
}
h1 {
  font-size: 2rem; /* Adjust the size as needed */
}

h2 {
  font-size: 1.7rem; /* Adjust the size as needed */
  font-weight: bold;
}

h4 {
  font-size: 1.2rem; /* Adjust the size as needed */
}

/* main page style */
#background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.logo {
  text-align: center;
  padding: 20px;
  color: var(--text-color);
  border: 1px solid;
}

.logoSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 85vh;
  padding-left: 5%;
  font-size: 170%;
}

main {
  /* display: none; */
}

/* artistBioContent hidden section */
.artistBio {
  display: none;
  flex-wrap: wrap;
  gap: 5%;
  padding: 5%;
  visibility: hidden;
  color: var(--text-color);
  overflow-y: scroll;
  max-height: 100vh;
}
.artistStats {
  flex: 3;
}
.aboutTheArtist {
  flex: 6;
}
.artistImg{
  border: 1px solid;
  border-radius: 50%;
  margin-bottom: 5%;
}
.artistPlaylist {
  padding: 10% 0;
}

#playlist li {
  margin-bottom: 10px;
}
#playlist li:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--second-color);
}

.radio {
  border-radius: 5px;
  padding: 10px;
  width: 12vw;
  transition: transform 0.2s;
}

.radio:hover {
  color: black !important;
}

.radio:active {
  transform: scale(0.95);
}
